<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">一个<span id="js-rotating">意图混吃等死而不成</span>的上进青年</h4>
    </div>
    <div class="user-content center-align">
        <p>
            黑发不知勤学早，白首方悔读书迟。
        </p>
    </div>
    <div>
            <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="zh_CN" data-type="horizontal" data-theme="light" data-vanity="ShenYX"><a class="LI-simple-link" href='https://cn.linkedin.com/in/%E7%90%A6%E9%9B%B2-%E9%BB%84-a4b9b9164?trk=profile-badge'>ShenYX</a></div>

        </div>
    </div>

